.header {
  font-size: 1.5rem;
  font-family: 'Formular', sans-serif;
  margin-left: 1rem;
}

.arrowAndCatname {
  display: flex;
  align-items: center;
}

.editCategory {
  color: #0870c4;
  font-size: 0.8rem;
}

.container {
  max-width: 800px;
  margin: auto;
}

.emptyWarning {
  font-family: 'TT Regular', sans-serif;
  margin-left: 1rem;
  margin-right: 1rem;
}