* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: visible;
}

.card {
  margin: 0 8px 0;
  min-width: 90px;
  min-height: 117px;
  text-align: center;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card:nth-of-type(1) {
  margin-left: 16px;
}

.image {
  width: 90px;
  background-color: #fff;
  min-height: 90px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 13px rgba(51, 51, 51, .08);
  overflow: visible;
}

//.expImg {
//  width: 90px;
//  background-color: #fff;
//  min-height: 90px;
//  border-radius: 10px;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//}

.categorySubheader {
  margin-top: 8px;
}
