p {
    /* авто перенос текста */
  -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}

.item {
  margin: 1em;
}
.income {
  background-color: #F9C131;
}
.expenses {
  background-color: #6DC4C4;
}

.coin {
  text-align: center;
  /*padding: 2em;*/
  width: 4em;
  height: 4em;
  border-radius: 50%;
}
