$black-color: #333333;
$green-color: #6dc4c4;
$red-color: #eb5757;

@font-face {
  font-family: 'TT Black';
  src: url('./fonts/TT Norms Pro Black.otf') format('opentype');
}
@font-face {
  font-family: 'TT Bold';
  src: url('./fonts/TT Norms Pro Bold.otf') format('opentype');
}

@font-face {
  font-family: 'TT Medium';
  src: url('./fonts/TT Norms Pro Medium.otf') format('opentype');
}

@font-face {
  font-family: 'TT Regular';
  src: url('./fonts/TT Norms Pro Regular.otf') format('opentype');
}


$bold-font: 'TT Bold';
$black-font: 'TT Black';
$regular-font: 'TT Regular';
$medium-font: 'TT Medium';
