.headerReg{
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;

  color: #333333;
  margin: 64px 4% 0
}
.headerDesc{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #BDBDBD;
  margin: 16px 4% 0;
}
