@import './src/styles/variables';

.inputField {
  display: flex;
  flex-direction: column;
  margin: 64px 1rem 0;
}

.errorContainer {
  background-color: rgba(235, 87, 87, 0.7);
  color: #fff;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 2rem;
  margin-left: 1rem;
}

.errorMessage {
  font-family: 'TT Medium', sans-serif;
}

.inp {
  width: 100%;
  height: 42px;
  margin: 32px 0 0;
  border-width: 0 0 1px;
  font-family: $regular-font;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #6dc4c4;
  border-color: #e3e3e3;
  background: none;
}

.inp:focus {
  outline-width: 0;
  border-width: 0 0 1px;
  border-color: $green-color;
}
.inp::placeholder {
  color: #e3e3e3;
  padding: 0;
  margin: 0;
}

.btn {
  width: 100%;
  background: $green-color;
  border-radius: 5px;
  border: 0 none;
  font-family: 'TT Medium', sans-serif;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  margin: 32px 0 0;
  height: 56px;
}
.btn:focus {
  outline: 0 !important;
}

.disabledBtn {
  @extend .btn;
  background-color: #e3e3e3;
}

.afterbutton {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 32px 0 0;
  width: 100%;
}

.afterbutton:focus {
  outline: 0 !important;
}

.registrationLink {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 16px;
  line-height: 26px;
  color: #2d9cdb;
}


.label {
  color: #e3e3e3;
  position: relative;
  pointer-events: none;
  top: -35px;
  transition: 0.2s ease all;
  background: none;
  font-family: 'TT Regular', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}

.inp:focus ~ .label,
.inp:not([value='']) ~ .label {
  top: -70px;
}

.forgot{
  margin: 24px 0 32px;
  border: none;
  background: none;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #2d9cdb;

}
.forgot:focus {
  outline: 0;
}
