.inputField{
  display: flex;
  flex-direction: column;
  margin: 64px 4% 0;
}

.inp {
  width: 100%;
  height: 42px;
  margin:32px 0 0;
  border-width: 0 0 1px;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #6DC4C4;
  border-color: #e3e3e3;
}

.inp:focus {
  outline-width: 0;
  border-width: 0 0 1px;
  border-color: #6DC4C4;

}
.inp::placeholder {
  color: #e3e3e3;
  padding: 0;
  margin: 0;
}

.btn {
  width: 100%;
  background: #6DC4C4;
  border-radius: 5px;
  border: 0;
  border-color: none;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #FFFFFF;
  margin: 32px 0 0;
  height: 56px;
}

.afterbutton {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 32px 0 0;
  width: 100%
}

.registrationLink {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 16px;
  line-height: 26px;
  color: #2D9CDB;
}

.forget{
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #2D9CDB;
}

.label{
  color: #e3e3e3;
  position: relative;
  pointer-events: none;
  top: -35px;
  transition: 0.2s ease all;
  background: none;
  color: #e3e3e3;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
}

.inp:focus ~ .label,
.inp:not([value=""])~ .label
{
  top: -70px;

}
