.background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
}

.buttonNav {
  outline: none;
  border: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  cursor: pointer;
  position: absolute;
  top: 58px;
  left: 83vw;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
}


