@import 'src/styles/variables';

.container {
  width: 80%;
  box-shadow: 0 2px 13px rgba(51, 51, 51, 0.08);
  border-radius: 2px;
}

.modalHeader {
  color: $black-color;
  font-family: $bold-font;
  font-size: 42px;
  line-height: 51px;
  margin: 36px 24px 0;
}

.modalSubheader {
  font-family: Inter, sans-serif;
  color: #333333;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin: 16px 24px 0;
}

.input {
  width: 80%;
  height: 37px;
  margin: 66px 16px auto;
  border-width: 0 0 1px;
  border-color: #f2f2f2;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #6dc4c4;
}

.input:focus {
  outline-width: 0;
  border-width: 0 0 1px;
  border-color: #6dc4c4;
}

.input::placeholder {
  color: #f2f2f2;
  padding: 0;
  margin: 0;
}

.addButton {
  width: 100%;
  background: #6dc4c4;
  border-radius: 0 0 10px 10px;
  border: 0 none;
  font-family: 'TT Medium', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  margin: 66px 0 0;
  height: 50px;
}

.addButton:focus {
  @extend .addButton;
  outline: 0;
}

.loadingButton {
  @extend .addButton;
  transition: 0.5s ease-in-out;
  background: #e0e0e0;
}

.modal {
  position: absolute;
  z-index: 21243243;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 600px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.modalMain {
  max-width: 600px;
  position: absolute;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.modalMain {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  z-index: 1;
}


.displayBlock {
  display: block;
}

.displayNone {
  display: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(0,0,0,0.5);
  margin: 0;
  z-index: 1;
}
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
