.categoryHeader{
  margin: 20px 4% 0px;
  font-weight: 900;
  font-size: 1.5rem;
  color: #333333;
}

.container {
  display: flex;
  overflow-x: auto;
  margin: 20px 0 32px;
  font-family: 'Inter', sans-serif;
}

.container::-webkit-scrollbar {
  display: none;
}

.wrapper {
  margin-top: 21px;
}
