
.container {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Inter', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-top: 1.5rem;
  margin-right: 0.3rem
}

.categoryHeader {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 1.5rem;
  //margin-left: 2rem;
  color: #333333;
}
